@font-face{
	font-family: "Circular-Book";
	src: url("../static/CircularStd-Book.otf");
}

@font-face{
	font-family: "Circular-Black";
	src: url("../static/CircularStd-Black.ttf");
}


.car{
  height: 100px;
  width: auto;
  margin-left: 20px;
  margin-top: 20px;
  position: relative;
  bottom: 10px;
}

.rowHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
  bottom: 40px;
}

body {
  height: 100vh;
  background-color: #a7b8c8;
  background-color: #f7f7f7 !important;
  /* background: linear-gradient( 91.9deg, #e0dedc, #ffffff ); */
}

.logo {
  width: 400px;
  height: auto;
}
.centerTitle {
  display: flex;
  justify-content: center;
  font-family: 'Circular-Black';
  font-weight: 20px;
  font-size: 80px;
  color: #000000;
}

.menuBar {
  height: 80px;
  width: 80px;
  cursor:pointer;
}

.menuBar:hover {
  /* filter: sepia(100%) hue-rotate(190deg) saturate(500%); */
  filter: brightness(50%) sepia(100) saturate(100) hue-rotate(25deg);
}


.menu {
  position: fixed;
  width: 0;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fcd768;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-decoration: none;
}

.menu a {
  padding: 10px 10px 10px 30px;
  font-family: 'Circular-Book';
  font-size: 25px;
  color: #000000;
  transition: 0.5s;
  margin-bottom: 15px;
  display: block;
  text-decoration: none;

}

.menu a:hover {
  color: white;
  text-decoration: none;
}

.closeIcon {
  position: absolute;
  width: 20px;
  height: auto;
  top: 0;
  right: 25px;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}

.menuIconContainer {
  cursor: pointer;
}

.menuIcon {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: margin-left .5s;
  /* padding: 16px; */
}

@media screen and (max-height: 450px) {
  .menu {
    padding-top: 16px;
  }
  .menu a {
    font-size: 16px;
  }
}

.all-entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

#hamburger {
  position: relative;
  left: 30px;
  bottom: -20px;
}

.vendor-wrapper {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  padding: 20px;
  width: 700px;
  margin-bottom: 40px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.vendor-wrapper:hover {
  display: flex;
  flex-direction: row;
  background: #faf5f1;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.textButtonWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Circular-Black';
  font-size: 30px;
}

.imageDiv {
  height: 200px;
  width: auto;
}

.vendor-photo {
  height: 200px;
  width: 300px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  border-radius: 2px;
  margin-left: 30px;
}

.description {
  word-wrap: break-word;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-right: 20px;
  padding-right: 40px;
  font-family: 'Circular-Book';
}

.vendor-book-button {
  background-color: #fcd768;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-family: 'Circular-Book';
  font-size: 20px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.vendor-book-button:hover {
  background-color: #000000;
  color: #fcd768;
  width: 150px;
  height: 40px;
  font-family: 'Circular-Book';
  font-size: 20px;
  /* -webkit-transition-duration: 0.4s !important; /* Safari */
  /* transition-duration: 0.4s !important; */
}
